
/* Offer Sec */

.offer-content{
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.offer-item{
    width: 360px;
    height: 210px;
    position: relative;
    border: 1px solid rgb(238, 238, 238);
}
.offer-item-title{
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: color 1s linear;
}

.offer-item-infos{
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.offer-item-infos .offer-item-icon{
    position: absolute;
    top: 20px;
    left: -30px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(93, 93, 228);

}

.offer-item-desc{
    color: rgb(131, 129, 129);
    line-height: 1.5;
    letter-spacing: 1px;
}


.offer-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: width 1s linear;
    z-index: -1;
}

.offer-item:hover::after{
    width: 100%;
}

.offer-item:hover .offer-item-title{
    color: rgb(255, 255, 255);
}

.offer-item:hover .offer-item-icon{
    animation: bounceIcon 3s linear backwards;
}

.offer-item:hover .offer-item-title{
    animation: bounceIcon 3s linear backwards;
}

.offer-item:hover .offer-item-desc{
    animation: bounceDesc 2s linear backwards;
}