/* Portfolio section */

.portfolio{
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);

}

.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap:25px;
}

.portfolio-item{
    position: relative;
}

.portfolio-item img{
    width: 350px;
    height: 350px;
}


.overlay-category{
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-color: rgba(28, 29, 33, .8);
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.overlay-category-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    
}




.overlay-category-content-span{
    color: rgb(93, 93, 228);
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
}

.overlay-category-content-title{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
}

.overlay-category-content a{
    color: rgb(255, 255, 255);
    background-color: rgb(93, 93, 228);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
}


.portfolio-item:hover .overlay-category{
    opacity: 1;
    visibility: visible;
    animation: animatecategoryreverse .3s linear;
}
.portfolio-item:hover .overlay-category-content-title{
    opacity: 1;
    visibility: visible;
    animation: animatecategory .3s linear;
    z-index: 2;
}

.portfolio-item:hover .overlay-category-content-span{
    opacity: 1;
    visibility: visible;
}

.portfolio-item:hover .overlay-category-content a{
    opacity: 1;
    visibility: visible;
}